* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 15px;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

ul li a{
    text-decoration: none;
    color: black;
}

.navbar {
    margin: 0 auto;
    width: 80%;
    background: white;
    padding: 10px 0;
    border-radius: 15px;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a{
    color: black;
    font-weight: bold;
}
.nav-links li a:hover{
    color: #003399;
}

.nav-links li:hover {
    color: #003399;
}


.sub-navbar {
    padding: 12px 0;
}
.sub-navbar .container {
    display: flex;
    justify-content: center;
}

.sub-links {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: bold;
}


.sub-links li a:hover {
    color: #003399;
}

.main {
    margin-top: 30px;
}

.main-grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 30px;
}

.content h1 {
    font-size: 32px;
    line-height: 1.3;
    margin: 15px 0;
    color: #003399;
}


.content span{
    color: #777;
    font-size: 14px;
}

.content p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}
.content .texti{
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0;
}

.content .italic {
    font-style: italic;
}


.sidebar h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.sidebar p{
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 5px;

}
.sidebar span{
    font-size: 12px;
    color: #777;
}
.side-item {
    margin-bottom: 18px;
}

